<html ng-app="app">
  <head>
    <title>00 - Starter Seed</title>

    <!-- Viewport settings-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Basic style -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
      <style>
      .navbar{
        margin-bottom: 0;
        border-radius: 0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">Auth0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li ng-if="isAuthenticated"><a href="#/ping">Ping</a></li>
            <li ng-if="!isAuthenticated"><a href="#/login">Log In</a></li>
            <li ng-if="isAuthenticated"><a href="#/" ng-click="authService.logout()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div ng-view></div>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/auth0-lock/build/lock.js"></script>
    <script type="text/javascript" src="bower_components/angular-lock/dist/angular-lock.js"></script>
    <script type="text/javascript" src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app.run.js"></script>
    <script type="text/javascript" src="auth0-variables.js"></script>
    <script type="text/javascript" src="components/home/home.controller.js"></script>
    <script type="text/javascript" src="components/login/login.controller.js"></script>
    <script type="text/javascript" src="components/ping/ping.controller.js"></script>
    <script type="text/javascript" src="components/auth/auth.service.js"></script>
  </body>
</html>
