
<div class="jumbotron">
  <h2 class="text-center"><img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h2 class="text-center">Login</h2>
  <p class="text-center">{{message}}</p>
</div>

<div class="container">
  <div class="col-md-6 col-md-3">
    <div id="login-container">
      <form>
        <fieldset>
          <input class="form-control" type="text" name="user" ng-model="user" ng-disabled="loading" />
          <br>
          <input class="form-control" type="password" name="pass" ng-model="pass" ng-disabled="loading" />
          <br>
          <button class="btn btn-primary" type="submit" ng-disabled="loading" ng-click="login()">Login</button>
          <button class="btn btn-primary" type="submit" ng-disabled="loading" ng-click="signup()">Sign Up</button>
        </fieldset>
      </form>

      <a href="" ng-click="googleLogin()">Login with Google</a><br/>
    </div>
  </div>
</div>
