<div class="jumbotron">
  <h2 class="text-center"><img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h2 class="text-center">Login</h2>
  <p class="text-center">{{vm.message}}</p>
</div>

<div class="container">
  <div class="col-md-3">
    <div id="login-container">
      <form>
        <fieldset>
          <label for="user">User</label>
          <input class="form-control" id="user" type="text" name="user" ng-model="vm.user" ng-disabled="vm.loading"/>
          <br>
          <label for="password">Password</label>
          <input class="form-control" id="password" type="password" name="pass" ng-model="vm.pass" ng-disabled="vm.loading"/>
          <br>
          <button class="btn btn-primary" type="submit" ng-disabled="vm.loading" ng-click="vm.login()">Login</button>
          <button class="btn btn-primary" type="submit" ng-disabled="vm.loading" ng-click="vm.signup()">Sign Up</button>
        </fieldset>
      </form>

      <a href="javascript:;" ng-click="vm.googleLogin()">Login with Google</a><br/>
    </div>
  </div>
</div>
